.haqida_left a {
    text-decoration: none;
    color: #333;
    z-index: 10;
}
.haqida_left p {
    display: flex;
    font-size: 16px;
    align-items: center;
    border-bottom: 1px solid #DFDEDE;
    line-height: 16px;
    padding-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}
.haqida_left {
    width: 300px;
    height: auto;
    padding: 25px;
    background-color: #E2E2E2;
    height: 100%;
}
.innerhaqidaMob{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.haqida_leftMob {
    position: absolute;
    width: 100%;
    height: max-content;
    padding: 25px;
    z-index: 10;
    padding-left: 50px;
    transition: all 0.5s ease;
}
.haqida_leftMob p {
    display: flex;
    font-size: 16px;
    align-items: center;
    border-bottom: 1px solid #DFDEDE;
    line-height: 16px;
    padding-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}
.haqida_leftMob a {
    text-decoration: none;
    color: #333 !important;
    z-index: 10;
}
.menuGridTemp {
    font-size: 18px;
    position: absolute;
    margin: 20px 10px;
    /* top: 33%; */
    padding: 3px 6px;
    display: flex;
    align-items: center;
    background: rgba(77, 70, 70, 0.7);
    text-shadow: 2px 1px #000;
    justify-content: center;
    color: #FFF;
    z-index: 11;
}
.MenuGrid{
    height: 30px;
    width: 30px;
    text-shadow: 2px 1px #000;
}
.MenuGrid {
    outline: none;
}
@media(min-width:1400px) {
    .Sarlavha {
        width: 1400px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .haqida_left {
        display: none !important;
    }
    .umumiy{
        margin-top: 20px;
    }
    .haqida_leftMob{
        width: auto;
        padding: 10px 10px 10px 0px
    }
    .haqida_leftMob{
        margin-top: 50px;
        /* background-color: #333131; */
        border-radius: 0 10px 10px 0;
    }
    .innerhaqidaMob{
        background-color: white;
        width: 400px;
    }
    .menuGridTemp{
        top: 350px !important;
    }
    #umumiySideBar{
        width: 60% !important;
    }
}
@media screen and (min-width: 768px) {
    .menuGridTemp{
        display: none;
    }   
}
@media screen and (max-width: 576px) {
    .innerhaqidaMob{
        width: 300px;
    }
    .haqida_leftMob{
        width: auto;
        padding: 5px 5px 5px 0px
    }
    #umumiySideBar{
        width: 75% !important;
    }
}