.bg_footer {
  width: 100% !important;
  height: auto;
  background-color: #faf1f1;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttoncall{
  border: none;
  background-color: #C4C4C4;
  padding: 5px 10px;
  margin-left: 20px
}
.linebggg{
  width: 100%;
  height: 75px;
  background: #515A61;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon_social{
  width: 40px;
  height: 40px;
  margin: 0px 8px;
}

.twitter:hover{
  color: rgb(0, 132, 255);
  transition: 0.3s;
}

.telegram:hover{
  color:rgb(0, 113, 189);
  transition: 0.3s;
}

.youtube:hover{
  color: red;
  transition: 0.3s;
}

.instagram :hover{
  color: rgb(224, 0, 187);
  transition: 0.3s;
}

.line_black {
  width: 85%;
  margin: 0 auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.footerbgg{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

.footer_contner{
  width: 100%;
  margin: 0px auto;
  padding-top: 30px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
 
.footer_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.logo_sec_taqi{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_sec_taqi h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
 margin: 0 30px;
  color: #0a1a54;
}

.logo_taqi{
  width: 200px;
  height: 185px;
  background-color: #515a61;
  border-radius: 48%;
  margin-top: 50px;
}

.footer_informatsia h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 35px;
  color: #530000;
  text-align: center;
  mix-blend-mode: hard-light;
}

.footer_informatsia p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  width: 277px;
  color: #000000;
  line-height: 2;
  mix-blend-mode: hard-light;
  margin-top: 50px;
  margin-left: 0px;
}
.footerINf{
  margin: 15px !important;
}
.footer_ul {
  padding: 0px;
  line-height: 3;
  margin-top: 50px;
}
.footer_ul li{
  height: 30px;
  margin: 10px 0;
}

.footer_ul li a{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  mix-blend-mode: hard-light;
}

.footer_ul li a:hover{
  color: #001b7a;
  text-decoration: underline;
  transition: 0.3s;
}

.footer_btn{
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
}
.btn_footer_page{
  width: 190px;
  height: 48px;
  outline: none;
  border: 1px solid #2e2e2e;
  font-size: 18px;
  font-weight: 500;
  color:#2e2e2e;
  margin-bottom: 20px;
  background-color: white;
}
.btn_footer_page a{
  text-decoration: none;
  color: #000;
}

.btn_footer_page:hover{
  transition: 0.3s;
  border: 1px solid rgb(175, 0, 0);
  background-color: rgb(255, 252, 249);
  color: rgb(175, 0, 0);
}

.footer_2{
  width: 100%;
  height: 134px;
  background-color:  #515A61;
}

.footer2_informatsia h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  padding-top: 10px;
  mix-blend-mode: hard-light;
  margin-top: -30px;
}

.footer2_informatsia p{
  font-family: Roboto;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 1px;
  color: #ffffff;
  mix-blend-mode: hard-light;
  margin-bottom: 0;
}

.footer2_informatsia span:hover{
  color: rgb(46, 85, 255);
  text-decoration: underline;
}

.brand_footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5 
  5px;
  background-color: #151a33;

}

.brand_footer p{
  /* position: absolute; */
  /* bottom: 0; */
  text-align: center;
  color: white;
  padding-top: 5px;
}

@media (min-width: 1400px) {
  .line_black, .footer_contner{
    max-width: 1400px;
  }
  .footer_nav, .line_bg{
    margin: 0 auto 50px 0;
  }
  
}
/* @media(min-width:1367px){
  .footer_contner{
      width: 1400px;
      margin: 0 auto;
  }
} */

@media (max-width: 1035px){
  .footer_nav {
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90% !important;
    margin: 0 auto !important;
  }
  .logo_sec_taqi h2{
    margin: 0px;
  }
  .footer2_informatsia h3{
    position: relative;
  }
  .footer2_informatsia p {
    position: relative;
  }
  .footer_contner{
    padding: 15px;
  }
  .footer_2{
    height: 200px;
  }
  .logo_sec_taqi{
    width: 45%;
    margin-bottom: 20px;
  }
  .footer_informatsia{
    width: 45%;
  }
  .footer_informatsia h3{
    text-align: start;
  }
  .footer_ul{
    margin-top: 0px;
  }
  .footer_ul li{
    margin: 20px 0px;
  }
  .footer_informatsia p {
    width: 100%;
    margin-top: 0px;
  }
  .footer_btn{
    width: 45%;
  }
  #footerSahifalar{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footerMalumot{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .logo_sec_taqi h2{
    margin: 0px;
  }
  .logo_sec_taqi{
    width: 100%;
    margin-bottom: 20px;
  }
  #footerMalumot{
    width: 100%;
    margin-bottom: 20px;
  }
  #footerSahifalar{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_btn{
    width: 45%;
    align-items: center;
  }
  .footer_informatsia p{
    margin-top: 30px;
  }
  .logo_taqi {
    margin-top: 30px;
  }
  .btn_footer_page{
    width: 100%;
  }
  .brand_footer p{
    font-size: 12px !important;
  }
  
}
@media (max-width: 1400px){
  .line_bg, .footer_nav {
      max-width: 1200px;
      margin: 0 auto 50px 0;
  }
}
