.NewsMainRow{
  /* margin: 50px auto; */
  justify-content: flex-start;
}
.NewsMainRow .col{
  margin: 50px 0 ;

}
.newsP__card{
  margin: 50 100px;
}

@media screen and (max-width: 576px) {
  .NewsMainRow{
    justify-content: center;
  }
  
}