.NewsMainRow{
  /* margin: 50px auto; */
  justify-content: flex-start;
}
.NewsMainRow .col{
  margin: 50px 0 ;

}
.newsP__card__img{
  object-fit: cover;
}
.card__down:hover{
  color: #fff;
}

.newsP__card{
  margin: 50 100px;
}

@media screen and (max-width: 576px) {
  .NewsMainRow{
    justify-content: center;
  }
  #NewsCardCol{
    padding: 0px !important;
  }
  .newsP__card__img{
    object-fit: cover;
  }
  .newsP__card{
    left: 0px !important;
    width: 270px !important;
    height: 410px !important;
  }
  .imgBoxNewsPage{
    width: 100%;
  }
  .newsText{
    height: 33% !important;
  }
  .haqida_reight p {
  padding: 10px !important;
  font-size: 14px !important;
  }
  .newsBannerDescr {
    min-width: 100% !important;
  }
  
}