.head_fak {
  margin: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
}


.div_imgFak {
  width: 100%;
  height: 360px;
  background-image: url("../../../assets/images/about/images/fakultet.jpg");
  z-index: 110;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
}

.haqida_father_fak {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 100px 80px 40px 80px !important;
  margin-right: 0px;
  margin-bottom: 150px;
}

.fakultet_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: -200px;
}

.fakultet_card {
  left: 200px;
  width: 784px;
  height: 259px;
  background: #ebebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 50px;
}

.fakultet_row:nth-child(odd) .fakultet_card {
  position: relative;
  right: -150px;
  left: 0px;
}

.fakultet_row:nth-child(even) .fakultet_card {
  position: relative;
  left: 265px;
}

#fak_text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 20px;
  width: 75%;
  margin: 20px;
  text-align: left;
}
.fakultet_row:nth-child(even) #fak_text{
  left: 15%;
}
/* .fakultet_row:nth-child(even) .fak_text {
  left: 90px;
} */

.fakultet__card__img {
  position: absolute;
  top: 29px;
  width: 382px;
  height: 201px;
  background: #c4c4c4;
}

.fakultet_row:nth-child(odd) #fakultet__card__img {
  left: 85% !important;
  object-fit: cover;
}

.fakultet_row:nth-child(even) #fakultet__card__img {
  right: 85% !important;
  object-fit: cover;
}

.fak_card_name {
  width: 192px;
  height: 21px;
  left: 365px;
  top: 560px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  font-size: 16px;
}

.fak_card_down {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -20px;
  bottom: -20px;
  height: 26px;
  width: 122px;
  font-size: 12px;
  line-height: 13px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  background-color: #a02d2d;
}

.fakultet_row:nth-child(odd) .fak_card_down {
  left: 114px;
}

.fakultet_row:nth-child(even) .fak_card_down {
  left: 90px;
  bottom: -30px;
}

.fak__acc__card {
  position: relative;
  height: 315px;
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__name__fak {
  position: relative;
  text-align: center;
  font-weight: 600;
  top: -10px;
}

.card__job__fak {
  position: relative;
  top: -30px;
  text-align: center;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none;
}

.accordionCard {
  border: none !important;
  box-shadow: none !important;
}

.acc__pers_card {
  margin: 20px 0 !important;
}
.fakultet_row:nth-child(even) .fak_card_down {
  top: 180px;
}

@media screen and (max-width: 1200px) {

  .fakultet_row:nth-child(even) .fakultet_card{
    left: 30%;
  }
  .fakultet_row:nth-child(odd) .fakultet_card{
    left: 0%;
  }

  .fakultet_card{
    width: 60%;
  }
  .fakultet_row:nth-child(odd) #fakultet__card__img{
    width: 65%;
  }
  .fakultet_row:nth-child(even) #fakultet__card__img{
    width: 65%;
  }
}
@media screen and (max-width: 992px) {
  .fakultet_row:nth-child(odd) #fakultet__card__img{
    width: 65%;
    left: 80%;
    height: 65%;
  }
  .fakultet_row:nth-child(even) .fakultet__card__img{
    width: 80%;
    height: 65%;
  }
  .fakultet_card{
    width: 60%;
  }
  
}
@media screen and (max-width: 768px) {
  .fakultet_card {
    width: 250px;
    left: 150px;
  }

  .fakultet__card__img {
    position: absolute;
    top: 6px;
    width: 254px;
    height: 201px;
    background: #c4c4c4;
  }

  .fak_card__name {
    font-size: 14px;
  }

  .fak_card__text {
    font-size: 12px;
  }

  .haqida_father_fak {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 50px 40px 50px !important;
    margin-right: 0px;
    margin-bottom: 150px;
  }

  .row_rahbariy {
    position: absolute;
    left: 0;
  }

  .fakultet_row:nth-child(odd) .fakultet_card {
    left: 0;
  }

  .fakultet_row:nth-child(even) .fakultet_card {
    left: 0;
  }

  .fakultet_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  .fakultet_row:nth-child(odd) #fakultet__card__img {
    left: 0px !important;
    width: 100%;
    height: 50%;
    object-fit: cover;
    top: 0px;

  }

  .fakultet_row:nth-child(even) #fakultet__card__img {
    left: 0px;
    top: 0;
    object-fit: cover;
    width: 100%;
  }

  .fak_text {
    position: absolute;
    top: 200px;
    left: 0 !important;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fakultet_card_down {
    position: absolute;
    left: 0;
  }

  .fakultet_card .fak_card_down {
    position: absolute;
    left: 0 !important;
  }

  .minicards {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .fak_card_down{
    width: 100% !important;
  }
  .fakultet_row:nth-child(even) .fak_card_down{
    top: 135px;
  }
  #fak_text{
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .fak_card__name{
    font-size: 14px !important;
    font-weight: 600;
  } 
  .acc__pers_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #secondCardMain .fakultet__card__img {
    left: 0px;
  }
  #secondCardMain{
    left: 0;
  }
  #secondCardMain #secondCardKaf{
    left: 0px;
  }
  .fak__acc__card {
    position: relative;
    height: 350px;
    width: 230.41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card_Name_Fak {
    top: 112px;
  }
  .card_Job_Fak {
    top: 102px
  }
  .CardImages {
    height: 235px;
  }
  #CardKafImg{
    height: 235px;
    width: auto;
    object-fit: cover;
  }
  .fakultet_row .fakultet__card__img{
    height: 50% !important;
    width: 100% !important;
  }
}

/* .fakultet_card{
  width: 784px;
  height: 259px;
} */
