a{
    text-decoration: none;

}
.kafedra__card{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card__img{
    height: 93px;
    width: 85px;
    top: -20px;
    position: relative;
}
.card__body{
    position: relative;
    bottom: 0;
    height: 10px;
    width: 100% !important;
    background-color: #A02D2D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__name{
    text-align: center;
}
.card__job{
    position: relative;
    top: -15px;
    text-align: center;
}
.card__down{
    position: relative;
    width: 100% !important;
    height: 19px !important;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
} 
.kaf__row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.kaf__card{
    left:   13%;
    width: 455px !important ;
    height: 259px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.kaf__rev__card{
    right:  13%;
    width: 455px !important ;
    height: 259px !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
}
.kaf__rev__card > .kaf__img{
    position: relative;
    height: 200px;
    width: 269px;
    left: 300px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.kaf__rev__card > .kaf__text{
    text-align: left;
    position: absolute;
    left: 10%;
}
.kaf__img{
    position: relative;
    height: 200px;
    width: 269px;
    right: 300px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.kaf__body{
    position: relative;
    bottom: 0;
    height: 19px;
    width: 100% !important;
    background-color: #A02D2D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kaf__text{
    position: absolute;
    text-align: left;
    left: 200px;
    width: 200px;
}